.prog{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
    margin: auto;
}
#bar{
    width: 500px;
    height: 50px;
    text-align: center;
}